[*]
# Non-configurable Prettier behaviors
charset = utf-8
# Caveat: Prettier won’t trim trailing whitespace inside template strings, but your editor might.
trim_trailing_whitespace = true
insert_final_newline = true

# Configurable Prettier behaviors
end_of_line = lf
indent_style = space
indent_size = 2
max_line_length = 100
